<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <!-- Vue Instance -->

    <!-- <div id="app">
        <h1>{{name}}</h1>
    </div> -->

    <!-- Data and methods-->

    <!-- <div id="app">
        <h1>{{greet("Evening")}}</h1>
        <p>Name : {{name}}</p>
        <p>Job : {{job}}</p>
    </div> -->

    <!-- Data Binding -->

    <!-- <div id="app">
        <h1>Data Binding</h1>
        <a v-bind:href="website">google</a>
        <input type="text" v-bind:value="name">
        <p v-html="websitetag"></p>
    </div> -->

    <!-- Events -->

    <!-- <div id="app">
        <h1>Events</h1>
        
        <button v-on:click="age++">Add a Year</button>
        <button @click="age--">Subtract a Year</button>
        
        parentheses are not needed if there are no args
        <button v-on:click="add">Add a Year</button>
        <button @click="subtract">Subtract a Year</button>
        
        <button v-on:click="add(1)">Add a Year</button>
        <button @click="subtract(1)">Subtract a Year</button>
        <button v-on:dblclick="add(10)">Add a Year</button>
        <button @dblclick="subtract(10)">Subtract a Year</button>
        <p>my age is {{age}}</p>
        <div id="canvas" v-on:mousemove="updatexy">
            {{x}} , {{y}}
        </div>
    </div> -->

    <!-- Events Modifiers-->

    <!-- <div id="app">
        <h1>Events</h1>

        the button can be only clicked once 
        <button v-on:click.once="add(1)">Add a Year (once)</button>

        stop - Prevents event bubbling up the DOM tree. 
        <div v-on:click="add(1)" style="border: 1px solid red;padding:2px;">
            Add a Year
            <div v-on:click.stop="add(2)" style="border: 1px solid green;padding:2px;">
                add (no-bubbling)
            </div>
            <div v-on:click="add(2)" style="border: 1px solid blue;padding:2px;">
                add (with-bubbling)
            </div>
        </div>

        the submit event will no longer reload the page
        <form>
            If the button is within a form, the default behavior is submit i.e to relaod the page.
            If the button is not within a form, it will do nothing.
            <input type="submit" value="Add Years (page reloads)">
            the function add(3) is executed but the default behavior to reload is prevented
            <input type="submit" v-on:click.prevent="add(3)" value="Add Years (prevents reload)">
        </form>

        use capture mode when adding the event listener
        i.e. an event targeting an inner element is handled here before being handled by that element
        note that in first div add(10) is executed first whereas in case of second div add(20) is executed first
        <div v-on:click.capture="add(10)" style="border: 1px solid red;padding:2px;">
            Add Years
            <div v-on:click="add(20)" style="border: 1px solid green;padding:2px;">
                add (capturing)
            </div>
        </div>
        <div v-on:click="add(10)" style="border: 1px solid red;padding:2px;">
            Add Years
            <div v-on:click="add(20)" style="border: 1px solid green;padding:2px;">
                add (normal capturing)
            </div>
        </div>

        only trigger event handler if event.target is the element itself
        i.e. not from a child/inner element
        <div v-on:click.self="add(10)" style="border: 1px solid red;padding:2px;">
            Add Years
            <div v-on:click="add(20)" style="border: 1px solid green;padding:2px;">
                add (self)
            </div>
        </div>

        Modifiers can be chained
        <div v-on:click.self.once="add(10)" style="border: 1px solid red;padding:2px;">
            Add Years
            <div v-on:click="add(20)" style="border: 1px solid green;padding:2px;">
                add (self once)
            </div>
        </div>
        <p>my age is {{age}}</p>
    </div> -->

    
    <!--Keyboard Events and modifiers-->

    <!-- <div id="app">
        <h1>Keyboard Events and Modifiers</h1>
        
        <label>Name (ENTER): </label>
        <input type="text" v-on:keyup.enter="logName">
        <label>Age (ALT+ENTER):</label>
        <input type="text" v-on:keyup.alt.enter="logAge">
    </div> -->

    <!--2-Way data binding-->

    <!-- <div id="app">
        <h1>Keyboard Events and Modifiers</h1>
        
        <label>Name : </label>
        <input type="text" v-model="name">
        <h2>{{name}}</h2>
        <label>Age (ALT+ENTER):</label>
        <input type="text" v-model="age">
        <h2>{{age}}</h2>
    </div> -->

    <!-- Computed Properties -->


    <!-- <div id="app">
        <h1>Computed Properties</h1>
        <button v-on:click="a++">Add To A</button>
        <button v-on:click="b++">Add To B</button>
        <p>A - {{a}}</p>
        <p>A + B  - {{a+b}}</p>

        both the functions are executed every time the value of 
        a or b is change
        <h3>Methods</h3>
        <p>Age - A = {{addToA()}}</p>
        <p>Age - B = {{addToB()}}</p>

        only the property having the refenrence of the changed variable is executed
        <h3>Computed</h3>
        <p>Age - A = {{addToAComputed}}</p>
        <p>Age - B = {{addToBComputed}}</p>

    </div> -->

    <!-- Dynamic CSS -->

    <!-- <div id="app">
        <h1>Dynamic CSS</h1>
        <h2 v-bind:class={red:red}>Siddharth</h2>
        <button v-on:click="red=!red">Color-R</button>
        <h2 v-bind:class="compColor">Sachdeva</h2>
        <button v-on:click="green=!green">Color-G</button>
    </div> -->

    <!-- Conditionals -->

    <!-- <div id="app">
        <h1>Conditionals</h1>
        <button v-on:click="error = !error">Toggle error</button>
        <button v-on:click="success = !success">Toggle Succuss</button>
        <p v-if="error">there has been an error!!</p>
        <p v-else-if="success">successsss!!!</p>

        <p v-show="success"> Download file </p>
    </div> -->

    <!-- Looping -->

    <!-- <div id="app">
        <h1>Looping</h1>
        <ul>
            <li v-for="character in characters"> 
                <h3>{{character}}</h3>
            </li>
        </ul>
       
        div will be the outer tag
        <div v-for="(person,index) in persons"> 
            <h3>{{index}}. {{person.name}} : {{person.age}}</h3>
        </div>

        there will be no outer tag
        looping through the object
         <template v-for="(person,index) in persons">
            <div v-for="(val,key) in person">
                <h4>{{key}}:{{val}}</h4>
            </div>
            
         </template>
    </div> -->
        
    <!-- Multiple Vue Instances -->
    <!-- <div id="app-one">
        <h1>{{title}}</h1>
    </div>
    <div id="app-two">
        <h1>{{title}}</h1>
        <p>{{greet}}</p>
        <button @click="changeTitle">Change title of app two</button>
    </div> -->

     <!-- Intro to Components -->
     
     <!-- <div id="app-one">
        <h1>This is app-one</h1>
        <greeting></greeting>
    </div>
    <div id="app-two">
        <h1>This is app-two</h1>
        <greeting></greeting>
    </div> -->

    <!-- Refs -->

    <div id="app">
        <h1>Refs</h1>
        <input type="text" ref="input">
        <button @click="readRefs">Submit</button>
        <p>hello {{name}}</p>
    </div>

    <script src="script.js"></script>
</body>

<style>
    #canvas {
        width: 500px;
        padding: 200px 20px;
        text-align: center;
        border: 2px solid #333;
    }
    .red {
        color: red;
    }
    .green{
        color:green;
    }
</style>

</html>